/* common_res.css */
@charset "utf-8";

/******* header part(반응형) *******/
@media (max-width: 1200px){
    #header .wrap{ width: 100%;}
}
@media (max-width: 991px){
    #header .wrap nav.menu li{ margin: 0 20px;}
}
@media (max-width: 767px){
    #header label[for="open_menu"], 
    #header label[for="close_menu"]{
        position: absolute; top: 0; right: 10px;
        height: 100%;
        /* background: #ffa; */
        display: flex;
        align-items: center;
        cursor: pointer;
        z-index: 5;
    }
    #header label[for="open_menu"] img, 
    #header label[for="close_menu"] img{ 
        display: block; height: 50px;
    }
    #header label[for="open_menu"]{ display: flex;}
    #header label[for="close_menu"]{ display: none;}

    #header .wrap .logo{ 
        position: absolute;
        height: 100%;
        display: flex;
        align-items: center;
    }
    #header .wrap nav.menu{ 
        position: absolute; top: 80px; left: 0;
        width: 100%; 
        background-color: rgba(238, 238, 238, 0.75);
        max-height: 0; overflow: hidden;        
    }
    #header .wrap nav.menu ul{
        flex-direction: column;
        align-items: center;
    }
    #header .wrap nav.menu li a{ line-height: 40px;}
    #header .wrap nav.menu ul li:hover a::before{width: 0;}
    #header .wrap nav.menu ul li:hover a::after{ width: 0;}
    #header .wrap nav.menu ul li:hover{ 
        display: block; 
        width: 100%;
        text-align: center;
    }
    #header .wrap nav.menu ul li:hover a{ 
        display: block;
        background-color: rgba(0, 0, 0, 0.2);
    }
    #header .wrap .sns{ display: none;}
    #open_menu:checked ~ #header .wrap nav.menu{
        max-height: 160px;
        transition: max-height 0.5s;
    }
    #open_menu:checked ~ #header label[for="open_menu"]{ display: none;}    
    #open_menu:checked ~ #header label[for="close_menu"]{ display: flex;}

    #clsoe_menu:checked ~ #header label[for="open_menu"]{ display: flex;}    
    #clsoe_menu:checked ~ #header label[for="close_menu"]{ display: none;}
    
}

/******* footer part(반응형) *******/
@media (max-width: 1200px){
    footer .wrap{ width: 100%;}
}

@media (max-width: 991px){
    footer .wrap{ padding: 30px 10px;}
    footer .wrap .f_top{ flex-direction: column;}
    footer .wrap .f_top .f_logo{ padding-left: 0;}
    footer .wrap .f_bottom{ padding: 20px 0;}
    footer .wrap .f_top .company{ flex-wrap: wrap;}
    footer .wrap .f_top .company a{ 
        width: 50%; 
        margin: 0; 
        text-align: center;
        padding-bottom: 20px;
    }
}

@media (max-width: 767px){
   
}




















