@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap'); */

*{ box-sizing: border-box; font-family: 'Poppins', sans-serif;}
html, body{ margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6, p{ margin: 0;}
ul, ol{ margin: 0; padding: 0; list-style: none;}
a{ text-decoration: none;}


.font_great{ font-family: 'Great Vibes', cursive;}
/**************************************************************/

#header{ 
    position: fixed; top: 0; left: 0;
    width: 100%; height: 80px;
    background-color: rgba(238, 238, 238, 0.75 );
    z-index: 1;
}
#header .wrap{ 
    width: 1200px;
    margin: 0 auto; padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #aaa; */
}
#header .wrap .logo{ 
    /* background: #adc; */
}
#header .wrap .logo a{ }
#header .wrap .logo a img{ 
    display: block;
    height: 24px;
}
#header .wrap nav.menu{
    width: calc(100% / 12 * 4);
    /* background: #aaf;  */
}
#header .wrap nav.menu ul{ 
    display: flex; justify-content: space-between;}
#header .wrap nav.menu li{
    /* background: #aca; */
}
#header .wrap nav.menu li a{
    display: block; 
    font-size: 14px; line-height: 80px;
    color: #565656;
    position: relative;
}
#header .wrap nav.menu li a::before{
    content: "";
    position: absolute; bottom: 0; left: 50%;
    width: 0; height: 4px; background-color: #662021;
    transition: width 0.5s;
}
#header .wrap nav.menu li a::after{
    content: "";
    position: absolute; bottom: 0; right: 50%;
    width: 0; height: 4px; background-color: #662021;
    transition: width 0.5s;
}
#header .wrap nav.menu li:hover a::before{ width: 50%;}
#header .wrap nav.menu li:hover a::after{ width: 50%;}

#header .wrap .sns{ 
    width: calc(100% / 12);
    /* background: #aac; */
}
#header .wrap .sns ul{ 
    display: flex; justify-content: space-between;}
#header .wrap .sns ul li{ }
#header .wrap .sns ul li a{ }
#header .wrap .sns ul li a img{ 
    display: block; height: 24px;
}



/***************************************************************/

#banner{
    position: relative; 
    width: 100%; height: 100vh;
    /* background-image: url(../img/main_04.jpg); */
    background-size: cover;
    animation: 30s changeImg infinite;
}
@keyframes changeImg {
    0%{ background-image: url(../img/main_04.jpg);}
    20%{ background-image: url(../img/main_05.jpg);}
    40%{ background-image: url(../img/main_06.jpg);}
    60%{ background-image: url(../img/main_07.jpg);}
    80%{ background-image: url(../img/main_08.jpg);}
    100%{ background-image: url(../img/main_04.jpg);}
}
#banner .b_wrap{ 
    width: 1200px; height: 100%;
    margin: 0 auto; padding: 0 80px 200px 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* background: #acd; */
}
#banner .b_wrap h2{
    width: calc(100% / 12 * 5); 
    font-size: 48px; font-weight: bold; color: #eee;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    word-break: keep-all;
}
.hideBg{ display: none;}

/**********************************************************/

#content_1{ 
    width: 100%; height: 1360px; 
    background-color: #fff;
    background-image: url(../img/naturebg-1.png), url(../img/product.png);
    background-size: auto 400px, auto 320px; background-position: -2% 50%, 102% 50%; 
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed;
}
#content_1 .wrap{ 
    width: 1200px;
    margin: 0 auto; padding: 80px 10px 60px;
    /* background: #cac; */
}
#content_1 .wrap .sub_01{ 
    width: 100%; height: 540px;
    border-bottom: 1px solid #d3d3d3; 
    /* background: #aca; */
}
#content_1 .wrap .sub_01 .title_part{ 
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #ffa; */
} 
#content_1 .wrap .sub_01 .title_part h2{
    display: block; 
    font-size: 36px; line-height: 40px;
    color: #373735;
}
#content_1 .wrap .sub_01 .cont_part{ 
    width: 100%;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    /* background: #aca; */
}
#content_1 .wrap .sub_01 .cont_part .box{ 
    width: calc(100% / 3 - 20px); margin: 0 10px;
    /* background-color: #ffa; */
}
#content_1 .wrap .sub_01 .cont_part .box:first-child{ margin-left: 0;}
#content_1 .wrap .sub_01 .cont_part .box:last-child{ margin-right: 0;}
#content_1 .wrap .sub_01 .cont_part .box h3{
    display: block; 
    font-size: 18px; line-height: 40px; 
    text-align: center; color: #662021;
}
#content_1 .wrap .sub_01 .cont_part .box .img_part{
    background-size: cover; background-position: 50% 50%;
    padding-bottom: 40px;
}
#content_1 .wrap .sub_01 .cont_part .box .img_part img{ 
    display: block;
    width: 100%; height: 200px;
    transition: transform 0.5s;
}
#content_1 .wrap .sub_01 .cont_part .box .img_part img:hover{transform: scale(1.05);}
#content_1 .wrap .sub_01 .cont_part .box p{
    display: block; 
    font-size: 14px; color: #373735;
} 


#content_1 .wrap .sub_02{ 
    width: 100%; height: 680px;
    padding-top: 80px; 
    /* background: #cac; */
}
#content_1 .wrap .sub_02 .title_part{ 
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #ffa; */
}
#content_1 .wrap .sub_02 .title_part h2{ 
    display: block; 
    font-size: 36px; line-height: 40px;
    color: #373735;
}
#content_1 .wrap .sub_02 .cont_part{ }
#content_1 .wrap .sub_02 .cont_part .box{ 
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    /* background: #aaf; */
}    
#content_1 .wrap .sub_02 .cont_part .box:last-child{ 
    flex-direction: row-reverse;
    /* background: #acf; */
}
#content_1 .wrap .sub_02 .cont_part .box .img_part{
    width: 580px; height: 240px;
    background-size: cover; background-position: 50% 50%;
    /* background: #cca; */
}
#content_1 .wrap .sub_02 .cont_part .box .img_part img{ 
     width: 580px; height: 240px;
     transition: transform 0.5s;
}
#content_1 .wrap .sub_02 .cont_part .box .img_part img:hover{
    transform: scale(1.05);
}
#content_1 .wrap .sub_02 .cont_part .box .text_part{ 
    width: 580px;
    /* background: #acc; */
}
#content_1 .wrap .sub_02 .cont_part .box .text_part h3{
    display: block; 
    font-size: 18px; line-height: 40px;
    color: #662021;
}
#content_1 .wrap .sub_02 .cont_part .box .text_part p{ 
    display: block;
    font-size: 14px; color: #373735;
}

/****************************************************************************/

#midBanner{ 
    width: 100%; height: 280px;
    padding: 40px 0;
    background-image: url(../img/cashmere_bg_01.jpg);
    background-size: cover; background-position: 50% 50%;
}
#midBanner .wrap{
    color: #fff;
    text-align: center;
}
#midBanner .wrap h2{ 
    display: block;
    font-size: 36px; line-height: 60px;
}
#midBanner .wrap h3{ 
    display: block;
    padding: 20px 0 40px;
    font-size: 18px; line-height: 40px;
}
#midBanner .wrap .button{ 
    display: flex;
    justify-content: center;
}
#midBanner .wrap .button a{ 
    display: block;
    width: 180px;
    font-size: 18px; line-height: 40px; color: #fff;
    border: 1px solid #fff;
    position: relative;
    z-index: 2;
}
#midBanner .wrap .button a::before{
    content: ""; display: block;
    position: absolute; top: 0; left: 0;
    width: 0; height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    transition: width 0.5s;
    z-index: 1;
}
#midBanner .wrap .button a:hover::before{ width: 100%;}

/******************************************************************************/

#content2{
     width: 100%; height: 1550px; background-color: #fff;
     background-image: url(../img/naturebg-2.png), url(../img/cs-bg.png);
     background-size: auto 400px, auto 320px; background-position: -5% 50%, 100% 50%; 
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed;
    }
#content2 .wrap{ 
    width: 1200px; height: 100%;
    margin: 0 auto; padding: 80px 10px 60px;
}
#content2 .wrap .sub_01{ 
    padding-bottom: 60px;
    border-bottom: 1px solid #d3d3d3;
    /* background: #acc; */
}
#content2 .wrap .sub_01 .title_part{ 
    padding-bottom: 40px;
    text-align: center;
}
#content2 .wrap .sub_01 .title_part h2{
    display: block; 
    font-size: 36px; line-height: 40px; 
}
#content2 .wrap .sub_01 .cont_part{ 
    display: flex;
    justify-content: space-between;
}
#content2 .wrap .sub_01 .cont_part .box{ 
    width: calc(25% - 20px); margin: 0 auto;
    /* background: #aaf; */
}

#content2 .wrap .sub_01 .cont_part .box:first-child{ margin-left: 0;}
#content2 .wrap .sub_01 .cont_part .box:last-child{ margin-right: 0;}

#content2 .wrap .sub_01 .cont_part .box .img_part{
    text-align: center;
    /* background: #ffa;  */
    
}
#content2 .wrap .sub_01 .cont_part .box .img_part .img{
    background-size: auto 90px; background-position: 50% 50%; 
    background-repeat: no-repeat;
    height: 90px;
}

#content2 .wrap .sub_01 .cont_part .box:nth-child(1) .img_part .img{ background-image: url(../img/tab1.png);}
#content2 .wrap .sub_01 .cont_part .box:nth-child(2) .img_part .img{ background-image: url(../img/tab2.png);}
#content2 .wrap .sub_01 .cont_part .box:nth-child(3) .img_part .img{ background-image: url(../img/tab3.png);}
#content2 .wrap .sub_01 .cont_part .box:nth-child(4) .img_part .img{ background-image: url(../img/tab4.png);}

#content2 .wrap .sub_01 .cont_part .box .img_part h3{ 
    display: block;
    padding: 20px 0;
    font-size: 18px; line-height: 40px;
    /* background: #dfd; */
}

#content2 .wrap .sub_01 .cont_part .box .txt_part{ }
#content2 .wrap .sub_01 .cont_part .box .txt_part h4{ 
    display: block;
    font-size: 14px; line-height: 40px; font-weight: bold;
}
#content2 .wrap .sub_01 .cont_part .box .txt_part p{ 
    display: block;
    padding-left: 15px;
    font-size: 14px; font-weight: 300;
    position: relative;
    /* background: #caa; */
}
#content2 .wrap .sub_01 .cont_part .box .txt_part p::before{
    content: ""; display: block;
    position: absolute; top: 9px; left: 0;
    width: 5px; height: 1px; 
    background-color: #373735;
}
/* #content2 .wrap .sub_01 .cont_part .box .txt_part p:nth-child(2n){ background: #aff;} */

#content2 .wrap .sub_02{ 
    width: 100%; height: 920px;
    padding-top: 80px;
    /* background: #aaf; */
}
#content2 .wrap .sub_02 .title_part{ 
    padding-bottom: 40px;
    text-align: center;
    /* background: #faf; */
}
#content2 .wrap .sub_02 .title_part h2{
    display: block; 
    font-size: 36px; line-height: 40px; 
} 
#content2 .wrap .sub_02 .cont_part{ 
    display: flex; flex-wrap: wrap;
}
#content2 .wrap .sub_02 .cont_part .box{ 
    height: 360px;
    padding-bottom: 20px;
    /* background: #ffa; */
    position: relative;
}
#content2 .wrap .sub_02 .cont_part .box:nth-child(1){ width: 100%;}
#content2 .wrap .sub_02 .cont_part .box:nth-child(2){ width: calc(100% / 12 * 5); padding-right: 10px;}
#content2 .wrap .sub_02 .cont_part .box:nth-child(3){ width: calc(100% / 12 * 7); padding-left: 10px;}

#content2 .wrap .sub_02 .cont_part .box .img_part{ 
    width: 100%; height: 100%;
    overflow: hidden;
}
#content2 .wrap .sub_02 .cont_part .box .img_part .img{
    height: 100%;
    /* background: #3ac; */
    background-size: cover; background-position: 50% 50%;
    transition: transform 0.5s;    
}

#content2 .wrap .sub_02 .cont_part .box:hover .img_part .img{ transform: scale(1.05);}

#content2 .wrap .sub_02 .cont_part .box:nth-child(1) .img_part .img{ background-image: url(../img/store_women.jpg);}
#content2 .wrap .sub_02 .cont_part .box:nth-child(2) .img_part .img{ background-image: url(../img/store_men.jpg);}
#content2 .wrap .sub_02 .cont_part .box:nth-child(3) .img_part .img{ background-image: url(../img/store_kids.jpg);}
#content2 .wrap .sub_02 .cont_part .box a{ 
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    font-size: 16px; line-height: 50px; color: #fff;
    text-align: center;
    background-color: #373735;
    transition: 0.5s;
}
#content2 .wrap .sub_02 .cont_part .box a:hover{ background-color: #662021;}

/*******************************************************************************/
#g_map{ 
    width: 100%; height: 450px;
    display: flex; flex-wrap: wrap;
    background: #aaf;
}
#g_map #map{ width: 50%; height: 100%;}
#g_map .map_img{
    width: 50%; height: 100%;
    background-image: url(../img/store_map.jpg);
    background-size: cover; background-position: 50% 50%;
}

/**********************************************************************************/
footer{ width: 100%; height: 200px; background-color: #d9d9d9;}
footer .wrap{ 
    width: 1200px; height: 100%;
    margin: 0 auto; padding: 40px 10px;
    color: #373735;
    /* background: #ccf; */
}
footer .wrap .f_top{
    width: 100%; height: 80px;
    display: flex;
    justify-content: space-between;
    /* background: #faa; */
}
footer .wrap .f_top .f_logo{ 
    background-size: cover; background-position: 50% 50%;
    /* background: #aaf; */
}
footer .wrap .f_top .f_logo img{ 
    display: block;
    height: 80px;
}
footer .wrap .f_top .company{ 
    width: 50%; height: 100%;
    display: flex;
    justify-content: space-between;
    /* background: #aff; */
}
footer .wrap .f_top .company a{ 
    display: block;
    color: #363635;
    font-size: 14px; line-height: 80px;
    transition: 0.5s;
}
footer .wrap .f_top .company a:hover{ color: #662021;}
footer .wrap .f_top .f_sns{ }
footer .wrap .f_top .f_sns ul{ 
    height: 100%;
    display: flex;
    align-items: center;
}
footer .wrap .f_top .f_sns ul li{ margin: 0 10px;}
footer .wrap .f_top .f_sns ul li:first-child{ margin-left: 0;}
footer .wrap .f_top .f_sns ul li:last-child{ margin-right : 0;}
footer .wrap .f_top .f_sns ul li a{ }
footer .wrap .f_top .f_sns ul li a img{ height: 30px;}
footer .wrap .f_bottom{ 
    width: 100%; height: 20px;
    text-align: center;
}
footer .wrap .f_bottom p{ 
    display: block;
    padding-top: 20px;
    font-size: 14px; line-height: 20px;
    /* background: #3d7; */
}





