@charset "utf-8";

#main{
    width: 100%; height: 100vh;
    position: relative; 
    background-color: #ffa;
    overflow: hidden;
}
#main .slideWrap{
    width: 300%; height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;  /*0 (1번 슬라이드) / -100% (2번 슬라이드) / -200% (3번 슬라이드)*/
    transition: margin-left 1s;
}
#main .slideWrap .slide{
    width: calc(100% / 3); height: 100%;
    background-size: cover;
    background-position: 50% 0%;
}
#main .slideWrap .slide:nth-child(1){
    background-image: url(../img/main_04.jpg);
}
#main .slideWrap .slide:nth-child(2){
    background-image: url(../img/main_05.jpg);
}
#main .slideWrap .slide:nth-child(3){
    background-image: url(../img/main_07.jpg);
}

#main label{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
}
#main label.right{right:20px;}
#main label.left{left:20px;}

#main label img{
    display: block; 
    filter:brightness(0) invert(100%);
}

#main input[type*="radio"]{position: relative; z-index: 10; display: none;}

#main label[for="first_right"]{display: block;}
#main label[for="second_left"]{display: none;}
#main label[for="second_right"]{display: none;}
#main label[for="third_left"]{display: none;}

/*1번 슬라이드 이미지에서 우측 화살표를 눌렀다면 2번 슬라이드로 이동한다.*/
#main input#first_right:checked ~ .slideWrap{margin-left: -100%;}
#main input#first_right:checked ~ label[for="first_right"]{display: none;}
#main input#first_right:checked ~ label[for="second_left"]{display: block;}
#main input#first_right:checked ~ label[for="second_right"]{display: block;}
#main input#first_right:checked ~ label[for="third_left"]{display: none;}

/*2번 슬라이드 이미지에서 우측 화살표를 눌렀다면 3번 슬라이드로 이동한다.*/
#main input#second_right:checked ~ .slideWrap{margin-left: -200%;}
#main input#second_right:checked ~ label[for="first_right"]{display: none;}
#main input#second_right:checked ~ label[for="second_left"]{display: none;}
#main input#second_right:checked ~ label[for="second_right"]{display: none;}
#main input#second_right:checked ~ label[for="third_left"]{display: block;}

/*3번 슬라이드 이미지에서 좌측 화살표를 눌렀다면 2번 슬라이드로 이동한다.*/
#main input#third_left:checked ~ .slideWrap{margin-left: -100%;}
#main input#third_left:checked ~ label[for="first_right"]{display: none;}
#main input#third_left:checked ~ label[for="second_left"]{display: block;}
#main input#third_left:checked ~ label[for="second_right"]{display: block;}
#main input#third_left:checked ~ label[for="third_left"]{display: none;}

/*2번 슬라이드 이미지에서 좌측 화살표를 눌렀다면 1번 슬라이드로 이동한다.*/
#main input#second_left:checked ~ .slideWrap{margin-left: 0;}
#main input#second_left:checked ~ label[for="first_right"]{display: block;}
#main input#second_left:checked ~ label[for="second_left"]{display: none;}
#main input#second_left:checked ~ label[for="second_right"]{display: none;}
#main input#second_left:checked ~ label[for="third_left"]{display: none;}


#main .dark{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.35);
}
#main .dark .wrap{
    width: 1200px;
    height: 100%;
    margin: 0 auto; 
    /* background: rgba(255, 255, 0, 0.5); */
    position: relative;
}
#main .dark .wrap h1{
    position: absolute;
    width: calc(100% / 12 * 5 - 20px);
    margin: 0 10px;
    right: 0;
    bottom: 20vh;
    font-size: 80px; 
    color:#fff; 
    line-height: 1.2; 
    text-shadow: 0 0 4px rgba(0,0,0,0.8);
    /* mix-blend-mode:difference; */
}

#cont_01{
    background-image: url(../img/naturebg-1.png), url(../img/product.png);
    background-repeat: no-repeat;
    background-size: auto 400px, auto 360px;
    background-position: 0 50%, 100% 50%;
    background-attachment: fixed;
}
#cont_01 article:first-child{
    width: 1200px;
    margin: 0 auto;
    padding: 80px 0 60px;
    border-bottom: 1px solid #d3d3d3;
}
#cont_01 article:first-child .title{text-align: center;}
#cont_01 article:first-child .title h2{
    font-size: 36px; 
    color:#373735; 
    line-height: 40px;
}
#cont_01 article:first-child .content{
    display: flex; 
    flex-wrap: wrap;
}
#cont_01 article:first-child .content .cont_box{
    width: calc(100% / 3); 
    padding: 40px 10px 0;
}
#cont_01 article:first-child .content .cont_box h3{
    font-size: 18px; 
    color:#662021;
    line-height: 40px;
    padding-bottom: 30px;
    text-align: center;
}
#cont_01 article:first-child .content .cont_box .img_cont{
    height: 200px; 
    background-color: #ffa;
    background-size: auto 110%;
    background-position: 50% 50%;
    transition: background-size 0.5s;
}
#cont_01 article:first-child .content .cont_box:nth-child(1) .img_cont{background-image: url(../img/intro_01.jpg);}
#cont_01 article:first-child .content .cont_box:nth-child(2) .img_cont{background-image: url(../img/intro_02.jpg);}
#cont_01 article:first-child .content .cont_box:nth-child(3) .img_cont{background-image: url(../img/intro_03.jpg);}

#cont_01 article:first-child .content .cont_box .img_cont:hover{
    background-size: auto 115%;
}
#cont_01 article:first-child .content .cont_box p{
    font-size: 14px;
    color:#373735;
    padding-top: 40px;
    line-height: 1.2;
}

#cont_01 article:last-child{
    width: 1200px;
    margin: 0 auto;
    padding: 80px 0 60px;
}
#cont_01 article:last-child .title{text-align: center;}
#cont_01 article:last-child .title h2{
    font-size: 36px; 
    color:#373735; 
    line-height: 40px;
}
#cont_01 article:last-child .content{padding-top: 40px;}
#cont_01 article:last-child .content .cont_box{
    display: flex; 
    flex-wrap: wrap;
}
#cont_01 article:last-child .content .cont_box:last-child{flex-direction: row-reverse;}
#cont_01 article:last-child .content .cont_box > div{
    width: calc(50% - 20px); 
    margin: 0 10px 20px;
}
#cont_01 article:last-child .content .cont_box > div.img_cont{
    height: 240px; 
    background-size: auto 110%;
    background-position: 50% 50%;
    transition: background-size 0.5s;
}
#cont_01 article:last-child .content .cont_box:first-child > div.img_cont{
    background-image: url(../img/story_02.jpg);
}
#cont_01 article:last-child .content .cont_box:last-child > div.img_cont{
    background-image: url(../img/story_03.jpg);
}
#cont_01 article:last-child .content .cont_box > div.img_cont:hover{background-size: auto 115%;}

#cont_01 article:last-child .content .cont_box > div.txt_cont{}
#cont_01 article:last-child .content .cont_box > div.txt_cont h3{
    font-size: 18px; 
    color:#662021; 
    line-height: 40px;
}
#cont_01 article:last-child .content .cont_box > div.txt_cont p{
    font-size: 14px; 
    color:#373735; 
    padding-top: 40px; 
    line-height: 1.2;
}


#banner{
    height: 280px; 
    background-image: url(../img/cashmere_bg_01.jpg);
    background-size: cover;
    background-position: 50% 50%;
    /* background-attachment: fixed; */
}
#banner .dark{
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.4); 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#banner .dark .cont_center{
    padding: 0 10px;
    color:#fff;
}
#banner .dark .cont_center h2{
    font-size: 36px; 
    line-height: 60px;
} 
#banner .dark .cont_center p{
    font-size: 18px; 
    line-height: 40px; 
    padding: 20px 0 40px;
}
#banner .dark .cont_center a{
    display: inline-block;
    width: 180px; height: 40px; 
    border: 1px solid #fff;
    text-align: center;
    line-height: 38px;
    color:#fff;
    position: relative;
    overflow: hidden;
}
#banner .dark .cont_center a:before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.4);
    top: 0; left: 0%;
    transform: translateX(-100%);
    transition: transform 0.5s;
}
#banner .dark .cont_center a:hover:before{
    transform: translateX(0%);
}

#cont_02{
    background-image: url(../img/naturebg-2.png), url(../img/cs-bg.png);
    background-repeat: no-repeat;
    background-size: auto 360px, auto 360px;
    background-position: -10% 50%, 110% 50%;
    background-attachment: fixed;
}
#cont_02 article:first-child{
    width: 1200px;
    margin: 0 auto;
    padding: 80px 0 60px;
    border-bottom: 1px solid #d3d3d3;
}
#cont_02 article:first-child .title{text-align: center;}
#cont_02 article:first-child .title h2{
    font-size: 36px; 
    color:#373735; 
    line-height: 40px;
}
#cont_02 article:first-child .content{
    display: flex; 
    flex-wrap: wrap;
}
#cont_02 article:first-child .content .cont_box{
    width: calc(25% - 20px);
    margin: 0 10px; padding-top: 40px;
}
#cont_02 article:first-child .content .cont_box .img_cont{
    height: 90px; 
    background-size: contain; 
    background-position: 50% 50%; 
    background-repeat: no-repeat; 
}
#cont_02 article:first-child .content .cont_box:nth-child(1) .img_cont{
    background-image: url(../img/tab1.png);
}
#cont_02 article:first-child .content .cont_box:nth-child(2) .img_cont{
    background-image: url(../img/tab2.png);
}
#cont_02 article:first-child .content .cont_box:nth-child(3) .img_cont{
    background-image: url(../img/tab3.png);
}
#cont_02 article:first-child .content .cont_box:nth-child(4) .img_cont{
    background-image: url(../img/tab4.png);
}

#cont_02 article:first-child .content .cont_box .txt_cont{padding-top: 20px;}

#cont_02 article:first-child .content .cont_box .txt_cont h3{
    font-size: 18px; 
    color:#662021; 
    text-align: center; 
    text-transform: uppercase; 
    line-height: 40px;
    padding-bottom: 20px;
}
#cont_02 article:first-child .content .cont_box .txt_cont h4{
    font-size: 14px; 
    color:#373735; 
    line-height: 40px;
    padding-bottom: 20px;
}
#cont_02 article:first-child .content .cont_box .txt_cont .detail{}
#cont_02 article:first-child .content .cont_box .txt_cont .detail p{
    font-size: 14px;
    color:#373735; 
    padding-left: 16px;
    position: relative;
}
#cont_02 article:first-child .content .cont_box .txt_cont .detail p:before{content:"－"; position: absolute; left: 0;}




#cont_02 article:last-child{
    width: 1200px;
    margin: 0 auto;
    padding: 80px 0 60px;
}
#cont_02 article:last-child .title{text-align: center;}
#cont_02 article:last-child .title h2{
    font-size: 36px; 
    color:#373735; 
    line-height: 40px;
}

#cont_02 article:last-child .content{
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
}
#cont_02 article:last-child .content .cont_box{
    height: 360px; 
    margin: 0 10px 20px; 
    background-color: #999;
    overflow: hidden;
    position: relative;
}
#cont_02 article:last-child .content .cont_box:nth-child(1){width: calc(100% - 20px);}
#cont_02 article:last-child .content .cont_box:nth-child(2){width: calc(100% / 12 * 5 - 20px);}
#cont_02 article:last-child .content .cont_box:nth-child(3){width: calc(100% / 12 * 7 - 20px);}

#cont_02 article:last-child .content .cont_box .store_bg{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    transition: transform 0.5s;
}
#cont_02 article:last-child .content .cont_box:hover .store_bg{
    transform: scale(1.05);
}
#cont_02 article:last-child .content .cont_box:nth-child(1) .store_bg{background-image: url(../img/store_women.jpg);}
#cont_02 article:last-child .content .cont_box:nth-child(2) .store_bg{background-image: url(../img/store_men.jpg);}
#cont_02 article:last-child .content .cont_box:nth-child(3) .store_bg{background-image: url(../img/store_kids.jpg);}

#cont_02 article:last-child .content .cont_box a{
    display: block; 
    width: 180px; height: 50px; 
    background-color: #373735; 
    position: absolute; 
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%);
    color:#fff;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.5s;
}
#cont_02 article:last-child .content .cont_box a:hover{
    background-color: #662021;
}















